
body 
{
    font-family: Arial, Helvetica, sans-serif;
    background: url(images/img1.gif);
    width: 100%;
    height: 100%;
    background-size: cover;
}

.navbar {
    overflow: hidden;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: right;
    overflow: hidden;
  }
  
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
}
  
.navbar a:hover, .dropdown:hover {
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.3);
    transition-duration: 0.5s;
}
 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    font-size: 16px;
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.logo {
    height: 50px;
    width: 200px;
    object-fit: contain;
}

.main_img {
    border-radius: 2px 80px 2px 80px;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    width: auto;
    height: auto;
}

.slides {
    display: none;
}

.holder {
    position: absolute;
    top: 0;
}

.placeholder {
    margin: 4%;
    padding: 4%;
    width: 55%;
    background-color: rgba(255, 255, 255, 0);
}

.circle {
    border-radius:50%;
    background-image: linear-gradient(to bottom, rgba(229, 255, 0, 0.7), rgba(38, 212, 228, 0.8));
    color:white;
    width:600px;
    height:600px;
    text-align:center;
    line-height:100px;
}

.circle h1 {
    color: rgb(255, 255, 255);
    font-size: 65px;
}

.circle h2 {
    font-family: "Brush Script MT", cursive;
    font-size: 40px;
}

.circle p {
    font-weight: bold;
    text-decoration: underline;
    font-size: 30px;
}

.circle span {
    padding: 15px;
    border: 2px solid;
    border-radius: 3px;
    border-color: rgb(255, 255, 255);
}

.circle a {
    color: white;
    font-size: 27px;
}

.child1 {
    left: 0;
}

.child2 {
    top: 100px;
    left: 800px;
}
